#mesas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.local {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    max-width: 300px;
    background-color: #fafafa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.local:hover {
    transform: scale(1.05);
}

.local h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

.mesa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 8px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.mesa:hover {
    transform: scale(1.05);
}

.mesa.disponible {
    background-color: #4caf50; /* Verde para disponible */
}

.mesa.seleccionada {
    background-color: orange; /* Naranja para seleccionar */
}

.mesa.ocupada {
    background-color: #f44336; /* Rojo para ocupada */
}

@media (max-width: 768px) {
    #mesas {
        flex-direction: column;
        align-items: center;
    }

    .local {
        width: 90%;
        margin-bottom: 20px;
    }

    .mesa {
        
        font-size: 1em;
    }
}


.btnReservar {
    background-color: #ffffff;
    border-color: rgb(210, 9, 9);
    border-radius: 15px;
    color: #d71a0d;
    transition: all ease-in-out 0.2s;
}


.btnReservar:hover {
    background-color: rgb(233, 187, 187)(0, 0, 0);
    border-color: rgb(210, 9, 9);
    transform: scale(1.05);
}

/* MENSAJE POP UP */
.mesa {
    position: relative; /* Asegura que el pop-up se posicione en relación con este contenedor */
}

.popup-mensaje {
    display: none; /* Oculto por defecto */
    position: absolute; /* Posicionado respecto al div de la mesa */
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    max-width: 200px;
    width: 180px;
    text-align: center;
    /* Centrar en la mesa */
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -150%); /* Ajusta para moverlo hacia arriba desde el centro */
}

/* Flecha del bocadillo */
.popup-mensaje::after {
    content: "";
    position: absolute;
    top: 100%; /* Ubica la flecha en la parte inferior del pop-up */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #333; /* Color del fondo del bocadillo */
}
.popup-mensaje.mostrar {
    display: block;
    opacity: 1;
}
