/*  ---------- Encabezado de página -----------------------------------------------------------------*/

/* DISEÑO NAVBAR MENU */
body{
    background-color:rgb(255, 222, 6);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}


.navbar{
    padding:0 !important;
    
}

#navBarMenu li > a{
    color: white;
}

#navBarMenu div{
    background-color: rgb(224, 4, 4);
    color: white;
}

#navBarMenu ul{
    background-color: rgb(224, 4, 4);
    color: white;
    text-align: justify;
}

#navBarMenu button{
    color: white;
    background-color: rgb(201, 12, 12);
    border-color: white;
}

/* DISEÑO BARRA DE BÚSQUEDA PRINCIPAL */

#busqueda {
    display: flex;
    justify-self: center;
}

#busqueda input {
    width: 350px;
}

#busqueda input:hover {
    transform: scale(1.05);
}

#busqueda input:focus {
    color: rgb(0, 0, 0);
    border-color: rgb(223, 0, 0);
    outline-color: rgb(223, 0, 0);
    box-shadow: -4px -4px 0px rgb(255, 0, 0);
    transition: .1s;
    transition-property: box-shadow;
}

#busqueda button {
    background-color: rgb(221, 17, 17);
    color: white;
    border-color: rgb(210, 9, 9);
    transition: all ease-in-out 0.2s;
}

#busqueda button:hover {
    background-color: red;
    border-color: rgb(210, 9, 9);
    transform: scale(1.05);
}

#busqueda button:active {
    background-color: red;
    transform: scale(1);
}


/* ------- Main de página ------------------------------------------------------------------------------------------*/

/* DISEÑO PANTALLA RESTAURANTES.HTML */

div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* DISEÑO DE TARJETAS DE RESTAURANTES */


/* ---------grid fija---------
section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    justify-items: center;
    align-content: center;
}
*/

/* --------- grid responsive ----------*/
section {
    
    position: relative;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    justify-items: center;
    align-content: center;
}

.restaurante {
    /*padding: 0.5rem;*/
    display: flex;
    position: relative;
    max-width: 280px;
    width: 260px;
    height:290px;
    flex-direction: column;
    border-radius: 5%;
    box-shadow: 0px 5px 26px 0px rgb(187, 187, 187);
    text-decoration: none;
    color: #000;
}

.restaurante:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.restaurante .restaurante_imagen {
    background-color: rgb(216, 185, 140);
    position: relative;
    height: 65%;
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.restaurante .restaurante_imagen img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.restaurante .restaurante_logo {
    position: absolute;
    width: 33%;
    height: 30%;
    padding: 2%;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    bottom: 22%;
    left: 50%;
    transform: translate(-50%);
}

.restaurante .restaurante_logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.restaurante .restaurante_nombre {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15%;
}
.restaurante .restaurante_nombre h2 {
    font-size: 25px;
    text-decoration: none;
    color: #000;
}

.restaurante .restaurante_informacion {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top:-2%;
    text-decoration: none;
    color: #000;
}
.restaurante .restaurante_informacion p {
    font-size: 15px;
    text-decoration: none;
    color: #000;
}